@import url('https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap');

html {
  background-color: #81D8D0 !important;
  color: #ef8354 !important;
  /* font-size: 2em; */
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #81D8D0 !important;
  color: #ef8354 !important;
  font-size: 20px !important;
  font-family: "Poppins", sans-serif !important;
}

.code {
  font-family: "Source Code Pro", monospace;
}

.info {
  line-height: 1.4;
  width: 85%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

/* .icon {
  height: 30px;
  transition: 0.1s ease-in;
  color: #fff;
} */

.icon {
  position: relative;
  color: #ffffff;
  font-size: 2em;
  text-shadow: 0 0 50px #1DA1F2,
    0 0 100px #1DA1F2,
    0 0 150px #1DA1F2,
    0 0 200px #1DA1F2,
    0 0 250px #1DA1F2;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.icon:hover {
  transform: scale(1.5);
  /* color: #ff8a00; */
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in;
  background-color: #324359 !important;
}

.card p {
  font-size: 0.7em;
  color: #ccc !important;
}

.card a {
  font-size: 0.7em;
}

.card:hover {
  transform: scale(1.09);
}

::-webkit-scrollbar {
  width: 0;
}